<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./tests/Unit</directory>
		</testsuite>
		<testsuite name="rest">
			<directory suffix="Test.php">./tests/REST</directory>
		</testsuite>

		<testsuite name="integration">
			<directory suffix="Test.php">./tests/Integration</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
		</whitelist>
	</filter>
</phpunit>
